:root, [data-theme="default"] {
  --color-primary: #232323;
  --color-secondary: #131313;
  --color-white:#FFF;


  --text-light:#ffffff;
  --text-grey: rgba(255, 255, 255, 0.4);
  --text-dark:#292929;
}