:root, [data-theme="default"] {
  --color-primary: #131313;
  --color-primary-light:#2b2b2b;
  --color-secondary: #131313;
  --color-white:#FFF;

  --text-color-primary:#ffffff;
  --text-dark:#292929;
}