:root, [data-theme="default"] {
  --color-primary: #1A1A1A;
  --color-secondary: #292c3f;
  --color-accent:#de0160;

  --color-text-light:#ebebf2;
  --color-text-dark:#292929;

  --color-anchor:#1A1A1A;

  --color-anchor-header-menu:#fff;

  --color-text-header-title:#fff;
  --color-text-header-text:#eee;

  --color-hero-bg:var(--color-primary);
}