:root, [data-theme="default"] {
  --color-primary: #171926;
  --color-secondary: #292c3f;
  --color-accent:#de0160;

  --color-text-light:#ebebf2;
  --color-text-dark:#292929;

  --color-text-header:#eee;

  --color-hero-bg:#eee;
}