.filters {
    display: flex;
    gap:var(--spacing-default);
}
.filter {
    position: relative;
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
    flex:0 0 calc(25% - var(--spacing-default));

    &:hover {
        cursor: pointer;
    }
}

.filter__header {
    height: 2rem;
    padding:var(--spacing-default);
    font-weight: bold;
    color:var(--color-white);
    font-size: var(--font-size-lg);
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        display: flex;
    }
}

.filter__item {
    padding:var(--spacing-sm);

    label {
        margin-left: var(--spacing-sm);
    }
}

.filter__data {
    border-radius: var(--border-radius);
    position: absolute;
    width: 100%;
    top:5.5rem;
    left:0;
    display: none;
    background-color: var(--color-primary);
    &.show {
        display: block;
    }
}