.footer {
    padding:var(--spacing-lg) 0;
    background-color: var(--color-secondary);
    color:var(--text-color-primary);
}

.footer__menus {
    display: flex;
    justify-content: space-between;
}