.footer {
}

.footer__top {
  @include flexbox($direction: column);
  color:var(--color-footer-text);
  background-color: var(--color-footer-top-bg);
  padding:var(--space-lg) 0 var(--space-md);

  a {
    color:var(--color-footer-text);
  }
}

.footer__nav {
  @include flexbox($direction:column, $gap:var(--space-default));
}

.footer__info {
  @include flexbox($direction:column, $gap:var(--space-default));
}

.footer__socials {
  @include flexbox($gap:var(--space-default));
}

.footer__menus {
  @include flexbox($direction:column, $gap:var(--space-lg));

  .footer-menu {
    @include flexbox($direction:column, $gap:var(--space-lg));

    &__title {
      font-weight: bold;
    }

    ul {
      @include flexbox($direction:column, $gap:var(--space-lg));
    }
  }
}

.footer__helpline {
  margin:var(--space-md) 0;

  a {
    font-weight: bold;
    color:var(--color-footer-color-anchor);
  }
}

.footer__logos {
  &-wrap {
    margin-top: var(--space-default);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:var(--space-md);
  }
}

.footer__bottom {
  background-color: var(--color-footer-bottom-bg);
  color:var(--color-footer-text-secondary);
  padding:var(--space-md) 0 var(--space-lg);
  &-text {

  }

  &-images {
    margin:var(--space-md) 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-lg);

    @include mq("phone-wide") {
      justify-content: center;
    }

    img {
      justify-self: center;
      max-width: 8rem;
      max-height: 5rem;
      width: auto;
      height: auto;
    }
  }

  &-copyright {
    text-align: center;
  }
}