:root {
    --header-height:6rem;
}

.header {
    position: relative;

    i {
        &:hover {
            cursor: pointer;
        }
    }
}

.header__wrap {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__siteNav {
    display: none;

    &.show {
        background-color: var(--color-primary-light);
        display: block;
        position: fixed;
        top:var(--header-height);
        left:0;
        width: 70%;
        height: 100%;
        z-index: 100;
    }

    @include mq('desktop') {
        display: flex;
    }

    li {
        color:var(--text-color-primary);
        padding:var(--spacing-default);
    }
}

.header__controls {
    display: flex;
    align-items: center;
    gap:var(--spacing-default);

    i {
        font-size: var(--font-size-xl);
        color:var(--color-white);
    }
}

.header__mobileMenu {
    @include mq('desktop') {
        display: none;
    }
}

.has-submenu {
    padding: 0!important;
    position: relative;

    .trigger {
        padding:var(--spacing-default);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:var(--spacing-sm);
    }

    .submenu {
        background-color: var(--color-secondary);
        display: none;

        @include mq('desktop') {
            position: absolute;
            top:0;
            left:0;
        }

        &.show {
            display: block;
        }

        li {
            padding-left: var(--spacing-lg);

            &:not(:last-child) {
                // TODO : border as variable
                border-bottom: 1px solid #1f1f1f;
            }
        }
    }

    .submenu-icon {
        font-size: 12px;
        margin-top:3px;
    }
}