:root {
    --header-height:80px;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.header-logo {

    img {
        max-width: 200px;
        height: auto;
    }
}


.header-wrap {
    @extend .container;
    height: var(--header-height);
    display: flex;
    align-items: center;
    gap:var(--spacing-default);
}

.header-nav {
    display: none;

    @include mq('desktop') {
        display: flex;
        height: 100%;
        gap:var(--spacing-default);
    }

    li {
        list-style-type: none;
        display: flex;
        align-items: center;

        a {
            display: flex;
            color:var(--color-anchor-header-menu);
        }
    }
}

.header-controls {
    display: flex;
    align-items: center;
    gap:var(--spacing-default);
    margin-left: auto;
}

.header-mobile-menu {
    @include mq('desktop') {
        display: none;
    }
}

.has-submenu {
    padding: 0!important;
    position: relative;

    .trigger {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:var(--spacing-sm);
    }

    .submenu {
        background-color: var(--color-secondary);
        display: none;

        @include mq('desktop') {
            position: absolute;
            top:0;
            left:0;
        }

        &.show {
            display: block;
        }

        li {
            padding-left: var(--spacing-lg);

            &:not(:last-child) {
                // TODO : border as variable
                border-bottom: 1px solid #1f1f1f;
            }
        }
    }
}