.hero {
    padding:var(--spacing-block) 0;
    
    .hero-wrap {
        @extend .container;
        background-color: var(--color-hero-bg);
        padding:var(--spacing-default);
        border-radius: var(--border-radius);
        display: flex;
    }

    .hero-text {
        width:50%;
    }
}
