.hero {
    padding:var(--spacing-block) 0;
    background-color: var(--color-primary);
    
    .hero-wrap {
        @extend .container;
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
    }

    .hero-information {
    }

    .hero-title {
        color:var( --color-text-header-title);
        font-size: 38px;
        line-height: 38px;
    }
    
    .hero-text {
        color:var(--color-text-header-text);
        line-height: 24px;
    }
}
