.hero {
    padding:var(--spacing-lg) 0;
}

.hero__inner {
    display: flex;
    flex-direction: column;
    color:var(--text-light);

    @include mq('desktop') {
        flex-direction: row;
        align-items: center;
    }

    h1 {
        margin-bottom: var(--spacing-default);
    }

    p {

    }
}

.hero__pageDetails {
    @include mq('desktop') {
        flex:0 0 50%;
    }
}

/** Slot hero styles **/
.hero.slot {

    .hero__pageDetails {
        display: flex;
        align-items: center;
        gap:var(--spacing-default);

        div:first-child {
            width: -webkit-fill-available;
        }

        img {
            display: flex;
            border-radius: var(--border-radius);
        }
    }
}