.block {
    padding:var(--spacing-default) 0;

    .block-title {
        font-size: 24px;
    }

    .block-subtitle {
        font-size: 18px;
    }

    .block-content-before {
        margin: var(--spacing-default) 0;
    }

    .block-content-after {
        margin: var(--spacing-default) 0;
    }
}