.board {
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--spacing-default);
    }

    &__loadMore {
        margin-top: var(--spacing-lg);
        display: flex;
        justify-content: center;
    }
}