.board {
    .slot {
        &:is(:hover, :focus-visible) {
            --hover: 1;
        }

        &:not(.splide__slide) {
            flex: 0 0 100%;

            @include mq('phablet') {
                flex: 0 0 calc(33% - var(--spacing-default));
            }
    
            @include mq('tablet-mid') {
                flex: 0 0 calc(25% - var(--spacing-default));
            }
    
            @include mq('tablet-wide') {
                flex: 0 0 calc(20% - var(--spacing-default));
            }
        }

        overflow: hidden;
        border-radius: var(--border-radius);
        background-color: var(--color-white);
        position: relative;

        &__image {
            display: flex;
            height: 28rem;

            img {
                transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * 3deg));
                transition: transform 0.2s;
                width: 100%;
                border-radius: var(--border-radius);
                object-fit: cover;
            }

            &.blank {
                display: flex;
                justify-content: center;
                align-items: center;
                color:white;
                font-weight: bold;
                letter-spacing: 1px;
                background-color: rgb(35, 35, 35);
            }    
        }

        &__details {
            border-radius: var(--border-radius-bot);
            font-size: 14px;
            position: absolute;
            bottom: 0;
            left:0;
            width: 100%;
            height: 20%;
            background: hsl(0 0% 100% / 0.5);
            backdrop-filter: blur(16px);

            > div {
                display: flex;
                flex-direction: column;
            }
        }

        &__title {
            font-weight: bold;
            margin-top: var(--spacing-sm);
            padding-left: var(--spacing-default);
        }

        &__provider {
            font-size: 12px;
            margin-top: var(--spacing-sm);
            padding-left: var(--spacing-default);
        }
    }
}