.board {
    .boardSlot {
        flex:0 0 100%;
    
        @include mq('phablet') {
            flex:0 0 calc(33% - var(--spacing-default));
        }

        @include mq('tablet-mid') {
            flex: 0 0 calc(25% - var(--spacing-default));
        }

        @include mq('tablet-wide') {
            flex:0 0 calc(18% - var(--spacing-default));
        }

        &__image {
            
            img {
                width: 100%;
                max-height: 20rem;
                object-fit: cover;
            }
        }

        &__details {
            span {
                font-weight: bold;
                color:var(--text-light);
            }

            p {
                color: var(--text-grey);
            }
        }
    }
}