.board {
    .slot {
        &:not(.splide__slide) {
            flex: 0 0 100%;

            @include mq('phablet') {
                flex: 0 0 calc(33% - var(--spacing-default));
            }
    
            @include mq('tablet-mid') {
                flex: 0 0 calc(25% - var(--spacing-default));
            }
    
            @include mq('tablet-wide') {
                flex: 0 0 calc(16.6% - var(--spacing-default));
            }
        }
        border-radius: var(--border-radius);
        background-color: var(--color-white);

        &__image {
            display: flex;
            height: 20rem;

            img {
                width: 100%;
                border-radius: var(--border-radius-top);
                object-fit: cover;
            }
        }

        &__details {
            padding: var(--spacing-sm);

            a {
                font-weight: bold;
                color: var(--text-dark);
                font-size: var(--font-size-sm);
            }

            p {
                color: var(--text-grey);
                font-size: var(--font-size-xs);
                margin-top: var(--spacing-sm);
            }
        }
    }
}