.block {

    &__content {
        ul, ol {
            padding-inline-start: var(--spacing-default);
            margin-block-start: var(--spacing-default);
            list-style-type: initial;
        }
    }
}