.block-content {
    .content-block {
        display: flex;
        align-items: center;
        gap:var(--spacing-block);
    }
    
    .image-top, .image-bottom {
        flex-direction: column;
    }
    
    .image-top .content-image, .image-bottom .content-image {
        order: -1;
    }
    
    .image-bottom .content-image {
        order: 1;
    }
    
    .content-image {
        max-width: 50%;
        height: auto;
    }
}