.siteLogo {
    max-width: 16rem;
    max-height: 5rem;
}

ul {
    list-style: none;
}

.container {
    max-width: var(--container);
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--spacing-default);
}

img {
    max-width: 100%;
}

body {
    background-color: var(--color-secondary);
}