// .boardCarousel {
//     overflow: hidden;
// }

// .boardCarousel__container {
//     display: flex;
// }

// .boardCarousel__slide {
//     flex: 0 0 50%;
//     min-width: 0;
// }

.board {
    &.carousel {
        overflow: hidden;

        .board__carousel {
            display: flex;
        }

        .board__item {
            flex:0 0 calc(25% - var(--spacing-default));
        }
    }
}