.postDetails {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-default);
    font-size: var(--font-size-xs);
    color:var(--text-color-primary);
}

.postDetails__breadcrumbs {
    display: flex;
    align-items: center;
    gap:4px;
}