.slotMainBlock {
    padding:var(--spacing-default) 0;
    &__wrap {
        background-color: var(--color-secondary);
        padding: var(--spacing-default);
        display:flex;
        gap:var(--spacing-default);
    }
}

.slotMainBlock__game {

    @include mq('desktop') {
        min-height: 50rem;
        flex:1;
    }
}

.slotMainBlock__similarGames {
    color:var(--text-light);


    @include mq('desktop') {
        flex:0 0 20%;
    }
}