.slotMainBlock {
    &__wrap {
        background-color: var(--color-primary);
        padding: 10px;
        border-radius: 10px;
    }

    &__table {
        display: flex;
        flex-direction: column;

        img {
            align-self: center;
            max-width: 24rem;
            border-radius: var(--border-radius);
        }
    }
}