.slotMainBlock {
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);

        @include mq('tablet-wide') {
            flex-direction: row;
        }
    }

    &__table {
        display: flex;
        flex-direction: column;

        img {
            align-self: center;
            max-width: 24rem;
            border-radius: var(--border-radius);
        }
    }
}